#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_USER_FLAGS=--disable-rpath

INIT_SCRIPT=debian/edac-utils.edac.init
UDEV_RULES=debian/edac-utils.udev

$(INIT_SCRIPT): build
	cp debian/tmp/etc/init.d/edac $@
$(UDEV_RULES): build
	cp src/etc/udev.rules $@
	# and lets take care about rpath hard way now
	chrpath -d debian/tmp/usr/bin/edac-util

# fight away rpath
rpath-patch::
	sed -i -r 's/(hardcode_(into_libs|runpath_var|direct|minus_L)=).*$$/\1no/' configure

DEB_CONFIGURE_INVOKE := make -f debian/rules rpath-patch; $(DEB_CONFIGURE_INVOKE)

install/edac-utils:: $(INIT_SCRIPT) $(UDEV_RULES)

clean::
	-rm -f $(INIT_SCRIPT)

DEB_DH_INSTALL_SOURCEDIR:=debian/tmp
DEB_DH_INSTALLINIT_ARGS:=--name=edac -- defaults 50

# Add here any variable or target overrides you need.
debian/control:: debian/control.in
	sed -e "/#include \"description.in\"/r debian/description.in" -e "/#.*/d" $^ >| $@

